@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    background: #1F2937;
    align-items: center;
    justify-content: space-around;
    height: 40px;
}

.header img {
    height: auto;
    width: 200px;
    mix-blend-mode: lighten;
    
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.5em;
}

a {
    text-decoration: none;
    color: #e5e7eB;
    font-size: 14px;
}

.introduction {
    display: flex;
    background: #1F2937;
    padding: 48px 0px;
    align-items: center;
    justify-content: space-around;
}

.text-part {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.intro-button {
    background-color: #3882f6;
    color: white;
    width: 82px;
    padding: 5px;
    border-radius: 8px;
    border: none;
}

.content {
    display: flex;
    flex: 1;
}

.footer {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}